@charset "utf-8";

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /* internet explorer */

    -o-text-size-adjust: none;
    /* 예전 opera */
}

#wrap {
    min-width: 1360px;
}

body {
    font-family: 'Pretendard';
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #444948;
}

/* header */
#header {
    width: 100%;
    height: 100px;
    /* background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px); */
    z-index: 99;
    box-sizing: border-box;

    /* From https://css.glass 
    background: rgba(255, 255, 255, 0.49);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);*/

    position: fixed;
    top: 0;
    left: 0;
}

.inner_header {
    width: 1320px;
    margin: 0 auto;
}

#nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
    height: 32px;
    margin: 30px 0 20px;
}

.gnb {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.gnb li a {
    width: 120px;
    display: block;
    font-family: 'Paperozi';
    font-weight: 600;
    padding: 0 30px;
    text-align: center;
}

.gnb li a:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}

/* submenu */
.submenu {
    width: 100%;
    height: 150px;
    padding: 30px 0;
    color: #585858;
    /* box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); */
    /* border-top: 5px solid #b5121b; */

    /* position 자식요소 */
    position: absolute;
    top: 100px;
    left: 0;
    /* background: rgba(0, 0, 0, 0.8);*/

    /* From https://css.glass */
    /* background: rgba(255, 255, 255, 0.49);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px); */
}

.inner_submenu {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.sub_nav {
    display: flex;
}

.sub_nav li a {
    width: 120px;
    display: block;
    padding: 10px 30px;
}

.sub_nav li a:hover {
    width: 120px;
    display: block;
    padding: 10px 30px;
    font-weight: 500;
    transform: scale(1.1);
    transition: all 0.3s;
}

.blur_box {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.07);

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

    transition: all 0.5s;
}


#header.active .blur_box {
    height: 310px;
}

/* 전체 */
#connect_wrap {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../../images/connect/info/info_background.jpg) no-repeat center / cover;
}

.inner_connect_wrap {
    width: 1320px;
    height: 2000px;
    margin: 0 auto;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

/* 상단 타이틀 */
.connect_intro {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connect_logo_text {
    font-family: 'Paperozi';
    font-size: 22px;
    line-height: 1.5;
    color: #585858;
    margin: 294px 0 65px;

    opacity: 0;
    transform: translateY(24px);
    transition: opacity 1s ease, transform 1s ease;
    transition-delay: 0.15s;
}

.connect_line {
    width: 1px;
    height: 200px;
    background-color: #585858;
    display: block;
    margin-bottom: 75px;

    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
    transition: opacity 1.1s ease, transform 1.1s ease;
    transition-delay: 0.75s;
}

/* 나타난 뒤 */
.connect_intro.show .connect_logo_text,
.connect_intro.show .connect_sub_text {
    opacity: 1;
    transform: translateY(0);
}

.connect_intro.show .connect_line {
    opacity: 1;
    transform: scaleY(1);
}


/* 공통 섹션 제목 */
.section_title {
    font-family: 'Paperozi';
    font-size: 28px;
    font-weight: 600;
    color: #444948;
    margin: 0 0 20px 10px;
    /* text-align: center; */
}

/* 층별 안내 */
.floor_section {
    width: 1264px;
    margin: 0 auto 95px;
}

.floor_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.floor_img {
    height: 420px;
}

.floor_img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow:
        0 6px 10px rgba(0, 0, 0, 0.14),
        0 6px 10px rgba(0, 0, 0, 0.08);
}

.floor_info {
    width: 366px;
    height: 420px;
}

.floor_info ul {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.floor_info li {
    width: 366px;
    height: 95px;
    background-color: #EDECEC;
    border-radius: 14px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 22px;
    box-sizing: border-box;
    cursor: pointer;

    transform: translateY(0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* hover */
.floor_info li:hover {
    transform: scale(1.05);

    background-color: rgba(142, 173, 189, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

/* active */
.floor_info li.active {
    /* transform: scale(1.02); */

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    background-color: rgba(142, 173, 189, 0.4);
}

.floor_num {
    font-family: 'Paperozi';
    width: 72px;
    font-size: 36px;
    font-weight: 700;
    color: #585858;
    margin-left: 10px;
}

.floor_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

.floor_name {
    width: 190px;
    font-family: 'Paperozi';
    font-size: 26px;
    font-weight: 700;
    color: #585858;
    line-height: 1.5;
    border-bottom: 1px solid #585858;
    margin-bottom: 7px;
    text-align: center;
}

.floor_text span {
    font-size: 14px;
    font-weight: 300;
    color: #585858;
    line-height: 1.2;
    padding-left: 40px;
}

/* 일정 안내 */
.schedule_section {
    width: 1264px;
    margin: 100px auto;
}

.schedule_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
}

/* 왼쪽 프로그램 */
.program_list {
    width: 492px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.program_box {
    width: 492px;
    height: 148px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 25px 40px;
    box-sizing: border-box;
    box-shadow:
        0 12px 28px rgba(0, 0, 0, 0.08),
        0 2px 6px rgba(0, 0, 0, 0.04);
}

.program_title {
    font-family: 'Paperozi';
    font-size: 18px;
    font-weight: 600;
    color: #585858;
    padding-bottom: 10px;
    margin-bottom: 12px;
    border-bottom: 1px solid #585858;
}

.program_box ul li {
    font-size: 14px;
    font-weight: 400;
    color: #444948;
    line-height: 1.5;
    margin: 0 10px 10px;
}

/* 오른쪽 달력 */
#date {
    width: 653px;
    height: 497px;

    display: flex;
    border-radius: 22px;
    padding: 22px 24px;
    box-sizing: border-box;

    background-color: rgba(255, 255, 255, 0.2);
    box-shadow:
        0 12px 28px rgba(0, 0, 0, 0.08),
        0 2px 6px rgba(0, 0, 0, 0.04);
}

.Calendar {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
    box-sizing: border-box;
}

.Calendar thead tr:first-child td {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #444948;
    vertical-align: middle;
    padding: 20px 0 30px;
}

.Calendar thead tr:first-child td img {
    width: 10px;
    margin: 0 auto;
}

.calendar_title {
    font-size: 26px;
    font-weight: 600;
}

.calendar_day td {
    font-size: 16px;
    font-weight: 400;
    color: #585858;
    padding: 12px 0 10px;
}

.Calendar tbody td {
    width: 58px;
    height: 58px;
    font-size: 16px;
    color: #585858;
    border-radius: 50%;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    box-sizing: border-box;
}

.Calendar tbody td:empty {
    cursor: default;
}

.pastDay {
    color: #EDECEC;
}

.futureDay {
    color: #585858;
}

.Calendar tbody td.sun {
    color: #e53935;
}

.Calendar tbody td.sat {
    color: #0000CD;
}

.today,
.choiceDay {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    color: #585858;
    font-weight: 700;
    line-height: 20px;
    background-color: #F9E591;
    border-radius: 50%;
}


/* 텍스트 플로우 */
/* 애니메이션 만들기 */
/* 모션이름 : flow01 */
@keyframes flow01 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* 모션이름 : flow02 */
@keyframes flow02 {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

#flow {
    height: 120px;
    color: #444948;
    overflow: hidden;
    display: flex;
    align-items: center;

    background: transparent;
}

#flow p {
    font-family: 'Paperozi';
    font-size: 70px;
    font-weight: 600;
    line-height: 2;
    white-space: nowrap;
    text-align: center;
}

.track {
    animation: flow01 18s infinite linear;
    margin-top: 50px;
    padding: 15px 0;
}

.textflow_symbol img {
    width: 65px;
    height: 75px;
}


/* connect */
#connect {
    height: 1094px;
    background: url(../../images/connect/connect/main_gray_background.jpg) no-repeat center center / cover;
    box-sizing: border-box;
}

.inner_connect {
    width: 1264px;
    margin: 0 auto;
    padding-top: 150px;
}

.connect_card {
    /* 🔥 핵심: 유리 */
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    /* 🔥 부드러운 그림자 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
}

/* 지도 */
.map_card {
    height: 430px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.top_left {
    font-family: 'Pretendard';
}

.connect_logo {
    width: 150px;
    height: 31px;
}

.address {
    font-size: 16px;
    font-weight: 500;
    margin: 15px 0 40px;
}

.info_text p {
    font-size: 16px;
    padding: 5px 0;
}

.number {
    margin-bottom: 90px;
}


/* 지도 버튼 */
.button_wrap a {
    width: 150px;
    height: 48px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px 0 22px;
    box-sizing: border-box;
    color: #444948;
    font-size: 14px;
    font-weight: 500;

    /* 🔥 핵심: 유리 */
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    /* 🔥 부드러운 그림자 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

    transition: all 0.3s;
}

.button_wrap a:hover {
    background: rgba(255, 255, 255, 0.7);
}

.connect_btn_txt {
    font-family: 'Paperozi';
    font-size: 14px;
    font-weight: 400;
}

.connect_btn_icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url(../../images/connect/connect/arrow_gray_right.svg) no-repeat left 19px center;
}

/* .top_right {
    overflow: hidden; /* 🔥 필수 */
/* border-radius: 20px; 카드랑 맞추기 */
/*} */

/* .top_right iframe {
    transition: transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
} */

/* 지도 hover */
/* .map_card:hover .top_right iframe {
    transform: scale(1.02);
} */

/* 커넥트 아래 박스 */
.connect_bottom_box {
    display: flex;
    justify-content: space-between;
}

.connect_tit {
    font-family: 'Paperozi';
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* 이용안내 */
.guide_card {
    width: 610px;
    height: 260px;
    padding: 30px;
    box-sizing: border-box;
}

.guide_card ul li {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 8px;
}

/* 문의하기 */
.inquiry_card {
    width: 610px;
    height: 260px;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
}

.input_row {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;

    font-family: 'Pretendard';
    font-size: 14px;
    font-weight: 500;
}

.input_row input {
    width: 50%;
    height: 30px;
    border: 0;
    outline: none;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.6);
    padding: 16px 8px;
    box-sizing: border-box;

    font-family: 'Pretendard';
    font-size: 14px;
    color: #585858;
}

.inquiry_card textarea {
    width: 100%;
    height: 60px;
    border: 0;
    outline: none;
    resize: none;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.6);
    padding: 8px;
    box-sizing: border-box;

    font-family: 'Pretendard';
    font-size: 14px;
    font-weight: 500;
    color: #585858;
}

.input_row input::placeholder,
.inquiry_card textarea::placeholder {
    color: #585858;
}

.qna_btn_wrap {
    position: absolute;
    right: 30px;
    bottom: 22px;
}

/* 문의하기 */
.submit_btn {
    width: 150px;
    height: 45px;
    border: 0;
    border-radius: 999px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: 'Paperozi';
    font-size: 14px;
    color: #444948;
    position: relative;
    padding-left: 18px;

    /* 🔥 핵심: 유리 */
    background: rgba(255, 255, 255, 0.2) url(../../images/connect/connect/arrow_gray_right.svg) no-repeat right 19px center;
    padding-right: 40px;
    /* 화살표 자리 확보 */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    /* 🔥 부드러운 그림자 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    transition: all 0.3s;
}

/* 문의하기 hover */
.submit_btn:hover {
    background: rgba(255, 255, 255, 0.7) url(../../images/connect/connect/arrow_gray_right.svg) no-repeat right 19px center;
}

/* footer */
#footer {
    width: 100%;
    height: 200px;
    background: #585858;
    color: #EDECEC;
    padding: 40px 0;
    box-sizing: border-box;
}

.inner_footer {
    width: 1320px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 왼쪽 */
.footer_logo img {
    width: 150px;
    margin: 20px 0;
}

.footer_info {
    font-size: 13px;
    color: #EDECEC;
    margin-bottom: 10px;
}

.footer_info span {
    margin-left: 20px;
}

.copyright {
    font-size: 12px;
    color: #EDECEC;
}

/* 오른쪽 */
.sns_list {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.sns_list li a img {
    opacity: 0.5;
    transition: all 0.1s;

}

.sns_list li a:hover img {
    opacity: 1;
}